* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #cbcbcc;
    color: #000;
}
/* redes sociales */
li {
    font-size: 20px;
}
ul li .fa {
    color: #fff;
    margin-top: 10px;
    transition: all 0.5s ease;
}
ul li a:hover .facebook {
    border: 5px solid #1411d4;
    box-shadow: 0 0 15px #1411d4;
    transition: all 0.5s ease;
}
ul li a:hover .fa-facebook {
    color: #1411d4;
    text-shadow: 0 0 15px #1411d4;
    transition: all 0.5s ease;
}
ul li a:hover .twitter {
    border: 5px solid #189aa3;
    box-shadow: 0 0 15px #189ea3;
    transition: all 0.5s ease;
}
ul li a:hover .fa-twitter {
    color: #189aa3;
    text-shadow: 0 0 15px #189aa3;
    transition: all 0.5s ease;
}
ul li:hover .instagram {
    border: 5px solid #b40f8b;
    box-shadow: 0 0 15px #b40f8b;
    transition: all 0.5s ease;
}
ul li:hover .fa-instagram {
    color: #b40f8b;
    text-shadow: 0 0 15px #b40f8b;
    transition: all 0.5s ease;
}
ul li:hover .google {
    border: 5px solid #e41818;
    box-shadow: 0 0 15px #e41818;
    transition: all 0.5s ease;
}
ul li:hover .fa-google {
    color: #e41818;
    text-shadow: 0 0 15px #e41818;
    transition: all 0.5s ease;
}
ul li:hover .whatsapp {
    border: 5px solid #049c0b;
    box-shadow: 0 0 15px #049c0b;
    transition: all 0.5s ease;
}
ul li:hover .fa-whatsapp {
    color: #049c0b;
    text-shadow: 0 0 15px #049c0b;
    transition: all 0.5s ease;
}
/* ... */
.navbar1 {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #282832;
}
.logo1 {
    font-size: 25px;
    color: #77181e;
    text-transform: uppercase;
    font-weight: 800;
}
/* li:hover {
    background-color: #77181e; 
} */
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p {
    color: #000;
}
#MenuItems a {
    text-decoration: none;
    color: #cbcbcc;
}
/* footer1 */
.footer1 {
    background: #282832;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 0 20px;
}
.footer1 p {
    color: #ffffff;
}
.footer1 h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer1-col-1, .footer-col-2, .footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer1-col-1 {
    flex-basis: 30%;
}
.footer1-col-2 {
    flex: 1;
    text-align: center;
}
.footer1-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer1-col-3, .footer-col-4 {
    margin: 20px;
}
ul {
    list-style-type: none;
}
.app-logo1 {
    margin-top: 20px;
}
.app-logo1 img {
    width: 140px;
}
.footer1 hr {
    border: none;
    background: #77181e;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* media query for menu */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.8s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
/* Estilos para el cart y login */
.carrito {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 50%;
    position: relative;
}
.contar-pro {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(226, 40, 7);
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.icons{
    color: #cbcbcc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-product {
    padding: 17px 37px;
    background-color: rgb(255, 51, 0);
    border: 1px solid black;
    border-radius: 10px;
}
.list-cart{
    width: 350px !important;
    position: absolute;
    top: 62px;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: none;
    font-size: 16px;
}

.rating {
    display: inline-flex; /* Alinea las estrellas en fila */
    direction: rtl; /* Permite llenar las estrellas de izquierda a derecha */
}

.rating i {
    font-size: 24px; /* Tamaño de las estrellas */
    color: rgb(235, 173, 2); /* Color por defecto de las estrellas */
    transition: color 0.2s; /* Transición para suavizar el cambio de color */
    cursor: pointer; /* Cambia el cursor al pasar sobre las estrellas */
}

/* Efecto de hover para llenar las estrellas */
.rating i:hover,
.rating i:hover ~ i {
    color: rgb(255, 217, 0); /* Cambia el color de las estrellas cuando se pasa el cursor */
}
